<div class="center hero-unit">
  <h1>California Vapor Reserve</h1>

  <h2>
    This is the basic Home page for California Vapor Reserve
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("cal_vape.jpg", alt: "California Vapor"), 'http://careserve.herokuapp.com/' %>